.navbar{
    position: fixed;
    height: 103px;
    z-index: 3;
    margin-left: 300px;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.07);
}
.wrapper{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search{
    margin-left: 40px;
    padding: 20px;
    height: 46px;
    width: 40%;
    display: flex;
    align-items: center;
    border:  1px solid rgba(0, 0, 0, 0.64);
    border-radius: 8px;
}
.search svg{
    margin-right: 15px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}
.search input{
    margin-top: 5px;
    border: none;
    width: 100%;    
    height: 46px;
    background-color: transparent;
}

.search input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}
.navbar-profile{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.bell{
    position: relative;
    margin-right: 15px;
}
.bell svg{
    font-size: 20px;
}
.number{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: #F72525;
    border-radius: 50%;
}
.number p{
    font-size: 8px;
    color: white;
    text-align: center;
}
.user-image{
    margin-right: 15px;
}
.user-name{
    margin-right: 15px;
}
.greeting{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #000000;
}
.name{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.dropdown svg{
    font-size: 20px;
}