.transaction-outer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.transaction-inner{
    width: 85%;
}
.transaction-current-prev{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.currentajo, .previous-ajo{
    background-color: #815F64;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.currentajo p, .previous-ajo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.currentajo{
    z-index: 1;
}
.previous-ajo{
    background-color: #B11226;
    margin-left: -40px;
}
.transaction-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.type-card-1,.type-card-2,.type-card-3,.type-card-4{
    width: 24%;
    height: 200px;
    padding: 5px;
    box-shadow: 5.04685px 5.04685px 18.9257px rgba(0, 0, 0, 0.05);
    border-radius: 13px;
    text-align: center;

}
.type-card-1{
    background-color: #7B4ADD;
}
.type-card-2{
    background-color: #E16A2F;
}
.type-card-3{
    background-color: #49C628;
}
.type-card-4{
    background-color: #257EAB;
}
.type-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #FFE3E3;
}
.type-body{
    margin-right: 20px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    margin-top: 60px;
    color: #FFFFFF;
}
.transaction-rate{
    margin-right: 20px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    color: rgba(255, 240, 243, 0.8);
}
.transaction-center{
    margin-top: 50px;
}
.transaction-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaction-history p{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #2B2B2B;
}
.transaction-filter{
    width: 40%;
    display: flex;
    justify-content: end;
}
.from-filter{
    padding: 10px;
    margin-right: 20px;
    background-color: #E9E9E9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.from-filter label{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #161616;
}
.from-filter input{
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.sort-filter{
    display: flex;
    align-items: center;
}
.sort-filter select{
    width: 84px;
    height: 45px;
    padding: 5px;
    background: #9747FF;
    border-radius: 4px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 17.3362px;
    color: #FFFFFF;
}
.transaction-table{
    margin-top: 10px;
}