.dashboard-body{
  padding-top: 73px;
}
.dashboard-inner{
    display: flex;
    justify-content: space-between;
}
.dashboard-main{
    width: 70%;
    padding: 20px;
}
.welcome-back{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}
.welcome-back span{
    color: #6A41B0;
}
.welcome-pending{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
}
.dashboard-card{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
}
.card-2{
    background: linear-gradient(308.88deg, #4C53F7 9.57%, #AB1B1B 216.35%);
}
.quick-action{
    display: none;
}
.dashboard-ajo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
.dashboard-ajo a{
    width: 20%;
    height: 166px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.card-icon{
    font-size: 20px;
}
.group-card, .match-card,.personal-card,.more-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 80%;
    padding: 10px;
}
.group-card{
    background: linear-gradient(235.13deg, #43CBFF -81.52%, #9708CC 98.5%);
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.07);
    border-radius: 9px;
}
.match-card{
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.07);
    background: linear-gradient(230.5deg, #FCCF31 -32.64%, #F55555 100%);
    border-radius: 9px;

}
.personal-card{
    background: linear-gradient(231.59deg, #65FDF0 -112.25%, #1D6FA3 100%);
    border-radius: 9px;
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.07);
}
.more-card{
    background: linear-gradient(230.51deg, rgba(156, 253, 156, 0.75) -60.38%, #49C628 85.25%);
    border-radius: 9px;
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.07);
}
.dashboard-transaction{
    margin-top: 0px;
}
.dashboard-right{
    width: 25%;
}
.recent-transfer{
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.transfer{
    padding-bottom: 10px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #058B42;
}
.tranfer-data{
    height: 240px;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
}
.transfer-individual{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.transfer-img{
    width: 38px;
    height: 38px;
    border-radius: 5px;
}
.transfer-text{
    margin-left: 10px;
}
.transfer-name{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.transfer-account{
    margin-left: 5px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.5);
}
.help{
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
}
.img-con, .button-con{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-con img{
    width: 70%;
}
.need-help{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}
.button-con button{
    margin-top: 10px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    padding: 8.90511px;
    width: 40%;
    height: 40px;
    border: none;
    background: #D11C1C;
    border-radius: 7px;

}
@media (max-width: 820px) {
    .dashboard-main{
        width: 100%;
    }
    .dashboard-card{
        overflow-X: auto;
        overscroll-behavior-inline: contain;
    }
    .dashboard-welcome{
        display: none;
    }
    .dashboard-right{
        display: none;
    }
    .dashboard-transaction{
        display: none;
    }
    .dashboard-ajo{
        row-gap: 10px;
        column-gap: 0px;
    }
    .dashboard-ajo a{
        width: 45%;
        margin: 0;
    }
    .quick-action{
        margin-top: 20px;
        display: block;
    }
    .action-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }
    .quick-action-nav{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .fund-account{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fund-account-icon{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(199, 199, 199, 0.2);
    }
    .fund-account-icon svg{
        color: #000000;
    }
    .fund-text{
        margin-top: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 11.9118px;
        color: #000000;
    }
}