.transferContainer{
    margin-left: 400px;
}
.transfer-outer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.transfer-inner{
    width: 90%;
}
.transfer-top{
    margin-top: 20px;
}
.search-screen{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #7560CA;
}
.transfer-search{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(250, 165, 176, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.transfer-search svg{
    font-size: 20px;
    color: #000000;    
}
.transfer-search-2{
    display: none;
}
.transfer-search input{
    width: 100%;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    border: none;
}
.search::placeholder{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: rgba(47, 43, 43, 0.42);
}
.transfer-table{
    margin-top: 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 30px;
}

.transfer-title{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.transfer-row td{
    padding: 20px;
}
.user-detail{
    display: flex;
    align-items: center;
}
.user-detail img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-detail p{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #2B2B2B;
}
.transfer-account2{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #068B6C;
}
.transfer-next svg{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    background-color: black;
    color: #FFFFFF;
}
.recent-transfer-mobile, .recent-recepient{
    display: none;
}
@media (max-width: 820px) {
    .transferContainer{
        margin-left: 0px;
    }
    .transfer-title{
        display: none;
    }
    .search-screen{
        display: none;
    }
    .recent-recepient{
        display: block;
    }
    .recent-recepient-name{
        margin-bottom: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }
    .recepient-details{
        display: flex;
        gap: 10px;
    }
    .recepient-individual img{
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .recepient-individual p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: #000000;
    }
    .recent-transfer{
        display: none;
    }
    .recent-transfer-mobile{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .recent-mobile-name-image{
        display: flex;
        align-items: center;
    }
    .recent-mobile-name{
        margin-left: 20px;
    }
    .recent-mobile-image img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .recen{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #000000;
    }
    .recent-mobile-account{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        color: #000000;
    }
}