@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --login-logo:#B11226;
  --login-text:#F2F2F2;
}
*{
  margin: 0;
  box-sizing: border-box;
}
input:focus,
search:focus,
select:focus,
option:focus,
textarea:focus{
    outline: none;
}
.title-outer{
  width: 100%;
}
.title{
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  text-align: center;
  color: #000000;
  width: 100%;
}
.participant{
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 820px){
  .title{
    font-size: 30px;
  }
}