.modal-background{
    width: 100%;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.485);
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.modal-container{
    width: 35%;
    height: 100%;
    border-radius: 12px;
    background-color: #FFFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.modal-title p{
    padding: 40px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.modal-bank{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.modal-bank p{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #000000;
    width: 20%;
    padding: 24px;
    border-radius: 50%;
    background: #F7F4F4;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
    position: relative;
}
/* .modal-bank::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.31);
    position: absolute;
} */
.modal-body{
    margin-top: 20px;
}
.modal-amount{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #B11226;
}
.modal-table table tbody tr{
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
}
.modal-option{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
   
}
.modal-choice{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
    color: rgba(5, 139, 66, 0.89);
}
.modal-choice-1{
    color:  #000000;
}
.modal-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.modal-buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cancle-icon, .share-icon{
    background-color: rgba(217, 217, 217, 0.73);
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.cancle p, .share p{
    margin-top: 10px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #000000;
}
