
.successfull-statement p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #B11226;
}
.successfull-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #000000;
}
.successfull-message p{
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25.1007px;
    color: #121111;
}
.successfull-button button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 56.48px;
    background: #B11226;
    box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}